# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency directories
node_modules/

# Build output
dist/
dist-ssr/
*.local

# Storybook build
storybook-static/
*.storybook.log

# Vitest coverage
coverage/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# OS system files
.DS_Store
Thumbs.db

# IDE and editor files
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Temporary files
*.tmp
*.temp
